.help-comp-container {
  position: relative;
}

.black-container {
  @include flex-center;
  position: absolute;
  justify-content: space-evenly;
  width: 311px;
  height: 72px;
  opacity: 0.5;
  background-color: $black;
  bottom: 3px;
  cursor: pointer;
  transition: ease-out 0.2s;
}

.help-title {
  width: 218px;
  height: 38px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.57px;
  color: $white;
  text-align: start;
}

img.image {
  width: 311px;
  height: 176px;
  object-fit: contain;
  cursor: pointer;
  transition: ease-out 0.2s;
  &:hover {
    transform: scale(1.02);
  }
  &:hover + .black-container {
    transform: scale(1.02);
  }
}

.arrow {
  width: 32px;
  height: 32px;
}
