.tips-container {
  width: 100%;
  padding-top: 191px;
  background-color: $black;
}

.pov-container {
  max-width: 619px;
  margin: 0 auto;
  text-align: center;
  @media screen and (max-width: $sm) {
    max-width: 311px;
    text-align: start;
  }
}

.pov-title {
  font-size: 32px;
  font-weight: 900;
  color: $white;
  display: inline-block;
  margin-bottom: 30px;
}

.pov-desc {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: -0.64px;
  color: $white;
  margin-bottom: 67px;
}

.help-container {
  margin: 0 auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 311px);
  gap: 10px;
  margin-bottom: 67px;
}

.all-set-container {
  @include flex-center;
  flex-direction: column;
}

.all-set-description {
  max-width: 619px;
  text-align: center;
  @media screen and (max-width: $sm) {
    max-width: 311px;
    text-align: start;
  }
}

img.robot {
  width: 253px;
  height: 337px;
  object-fit: contain;
  align-self: flex-start;
}

.oval-pink {
  position: absolute;
  right: 100px;
  @media screen and (max-width: $md) {
    display: none;
  }
}

/* override react carousel */
button.rec-dot {
  display: none;
}
.rec.rec-arrow {
  background-color: none;
  font-size: 10px;
  color: $white;
  min-width: 25px;
  height: 25px;
  line-height: 25px;
  width: 25px;

  &:hover:enabled,
  &:focus:enabled {
    background-color: $white;
    color: $black;
  }

  @media screen and (max-width: $sm) {
    display: none;
  }
}
