.tips-container {
  width: 100%;
  padding-top: 191px;
  background-color: #000;
}

.pov-container {
  max-width: 619px;
  margin: 0 auto;
  text-align: center;
}

.pov-title {
  font-size: 32px;
  font-weight: 900;
  color: #fff;
  display: inline-block;
  margin-bottom: 30px;
}

.pov-desc {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: -0.64px;
  color: #fff;
}

.help-container {
  margin: 0 auto;
  display: grid;
  text-align: center;
  max-width: 72%;
  grid-template-columns: repeat(auto-fit, minmax(311px, 1fr));
  gap: 10px;
  margin-bottom: 127px;
}

.all-set-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all-set-description {
  max-width: 619px;
  text-align: center;
}

img.robot {
  width: 253px;
  height: 337px;
  object-fit: contain;
  align-self: flex-start;
  z-index: 0;
}

@media screen and (max-width: 576px) {
  .pov-container {
    max-width: 311px;
    margin: 0 auto;
    text-align: start;
  }
  .all-set-description {
    max-width: 311px;
    margin: 0 auto;
    text-align: start;
  }
}
